/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-size: 14px;
  box-sizing: content-box;
  color: black;
  background: white;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: bold;
  line-height: 18px;
  height: 100%;
}

footer {
  height: 100px;
  display: block;
  margin: auto;
  width: 540px;
  margin: auto;
  padding-bottom: 20px;
}

.legal {
  color: #026AA7;
  display: block;
  height: 370px;
  width: 950px;
  position: relative;
  font-family: cursive;
  margin: auto;
  font-weight: bold;
  text-align: center;
  background: #e4f0f6;
}


.legal {
  font-size: 30px;
  color: #026AA7;
  line-height: 50px;
}
