// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-index {
  display: block;
  margin-top: 0;
  width: 100%;
  min-height: 1000px;
}

.board-index h1 {
  margin-top: 40px;
  margin-left: 16px;
  font-size: 16px;
  color: #4d4d4d;

}

.board-items {
  display: block;
  max-width: 1400px;
  min-height: 200px;
  position: relative;
  margin-left: 8px;
}

.board-items > li {
  background: #B04632;
  color: white;
  width: 230px;
  border-radius: 3px;
  height: 60px;
  padding: 10px;
  position: relative;
  display: block;
  float: left;
  margin: 8px;
  cursor: pointer;
}

.board-items > li:hover {
  background: darkred;
}

.board-items .new-board-button {
  background: #e2e4e6;

  color: #8c8c8c;
  font-weight: normal;
  font-size: 14px;
  line-height: 5px;

  position: relative;
}

.board-items .new-board-button:after {
  content: "Create new board...";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.board-items .new-board-button:hover {
  	background: #8c8c8c;
  	color: black;
}

.board-detail {
  display: block;
  min-height: 1000px;
  margin-bottom: 0;
  width: 100%;
  background-color: #b43;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.board-detail > h1 {
  display: block;
  padding: 12px;
}

.delete-board-button {

  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  color: #e2e4e6;
  background: #a43;
  display: block;
  border-radius: 3px;
  height: 32px;
  width: auto;
  padding: 5px 20px;
  margin: 24px 12px;
}

.delete-board-button:hover {
  background: #943;
}

.board-detail button {

  box-shadow: none;
  width: 120px;
  font-size: 14px;
  font-weight: normal;
  color: #e2e4e6;
  background: #a43;
  display: block;
  border-radius: 3px;
  height: 32px;
  width: auto;
  padding: 5px 20px;
  margin: 24px 12px;
}

.edit-board-button:hover {
  background: #943;
}

.board-detail .new-list-button:hover {
  background: #943;
}

.new-board-form {
  display: block;
  border: 1px solid #8c8c8c;
  padding: 10px;
  border-radius: 3px;
  width: 280px;
  height: 227px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.new-board-form h1 {
	display: block;
	padding: 0 32px;
	box-sizing: border-box;
	color: #8c8c8c;
	font-size: 14px;
	position: relative;
	border-bottom: 1px solid #8c8c8c;
	text-align: center;
	margin: 0 10px;
}

.new-board-form h2 {
	display: block;
	color: #4d4d4d;
	font-size: 14px;
	position: relative;
	margin-bottom: 4px;
}

.new-board-form input {
	width: 266px;
	margin: 0;
  padding: 7px;
	background: #e2e4e6;
}

.new-board-form > button {
	display: block;
	color: white;
  font-size: 14px;
	text-align: center;
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 1px 0 #3f6f21;
	border-radius: 4px;
	font-weight: bold;
	padding: 7px 30px;
	width: 45px;
  height: 22px;
	margin: 8px 4px 0 0;
	cursor: pointer;
	position: absolute;
}
.new-board-form {
  display: block;
  border: 1px solid #8c8c8c;
  padding: 10px;
  border-radius: 3px;
  width: 280px;
  height: 227px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.new-board-form h1 {
	display: block;
	padding: 0 32px;
	box-sizing: border-box;
	color: #8c8c8c;
	font-size: 14px;
	position: relative;
	border-bottom: 1px solid #8c8c8c;
	text-align: center;
	margin: 0 10px;
}

.new-board-form h2 {
	display: block;
	color: #4d4d4d;
	font-size: 14px;
	position: relative;
	margin-bottom: 4px;
}

.new-board-form input {
	width: 266px;
	margin: 0;
  padding: 7px;
	background: #e2e4e6;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
}

.new-board-form input:hover {
  border: 1px solid #A4A8AA;
}

.new-board-form > button {
	display: block;
	color: white;
  font-size: 14px;
	text-align: center;
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 1px 0 #3f6f21;
	border-radius: 4px;
	font-weight: bold;
	padding: 7px 30px;
	width: 45px;
  height: 22px;
	margin: 8px 4px 0 0;
	cursor: pointer;
	position: absolute;
}
.edit-board-form {
  display: block;
  border: 1px solid #8c8c8c;
  padding: 10px;
  border-radius: 3px;
  width: 280px;
  height: 227px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.edit-board-form h1 {
	display: block;
	padding: 0 32px;
	box-sizing: border-box;
	color: #8c8c8c;
	font-size: 14px;
	position: relative;
	border-bottom: 1px solid #8c8c8c;
	text-align: center;
	margin: 0 10px;
}

.edit-board-form h2 {
	display: block;
	color: #4d4d4d;
	font-size: 14px;
	position: relative;
	margin-bottom: 4px;
}

.edit-board-form input {
	width: 266px;
	margin: 0;
  padding: 7px;
	background: #e2e4e6;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
}
.edit-board-form input:hover {
  border: 1px solid #A4A8AA;
}

.edit-board-form > button {
	display: block;
	color: white;
  font-size: 14px;
	text-align: center;
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 1px 0 #3f6f21;
	border-radius: 4px;
	font-weight: bold;
	padding: 7px 30px;
	width: 45px;
  height: 22px;
	margin: 8px 4px 0 0;
	cursor: pointer;
	position: absolute;
}
