// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-index {
  display: block;
  margin-top: 0;
  width: 100%;
  min-height: 500px;
}

.board-index h1 {
  margin-top: 40px;
  margin-left: 16px;
  font-size: 16px;
  color: #4d4d4d;
  // text-shadow: 2px 2px 2px #aaa;
}

.board-items {
  display: block;
  max-width: 1400px;
  min-height: 200px;
  position: relative;
  margin-left: 8px;
}

.board-items li {
  background: #B04632;
  // box-shadow: 2px 2px 2px #aaa;
  color: ivory;
  cursor: pointer;
  border-radius: 3px;
  height: 60px;
  padding: 10px;
  position: relative;
  display: block;
  float: left;
  margin: 8px;
  // text-shadow: 2px 2px 2px #883627;
  width: 230px;
}

.board-items .fa {
  float: right;
  margin: 0;
  color: #cc7766;
}

.board-items li:active {
  background: darkred;
  box-shadow: inset 2px 2px 2px #250000;
  text-shadow: 2px 2px 2px #250000;
}

.board-items li:hover {
  background: darkred;
  text-shadow: 2px 2px 2px #250000;
  box-shadow: 2px 2px 2px #aaa;
}
.note-count {
  display: block;
  padding: 2px 6px;
  margin: 6px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  color: #cc7766;
}

.board-items li:hover .note-count {
  background: #cc7766;
  color: darkred;
}

.board-items .new-board-button {
  background: #e2e4e6;
  // box-shadow: 2px 2px 2px #8c8c8c;
  color: #8c8c8c;
  font-weight: normal;
  font-size: 14px;
  line-height: 5px;
  position: relative;
  // text-shadow: 2px 2px 2px #acb0b6;
}

.board-items .new-board-button:after {
  content: "Create new board...";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.board-items .new-board-button:hover {
  	background: #acb0b6;
  	color: darkred;
    box-shadow: 2px 2px 2px #8c8c8c;
    text-shadow: none !important;
    // text-shadow: 2px 2px 2px #250000;
}

.new-board-button:active {
  background: #acb0b6;
  box-shadow: inset 2px 2px 2px #91969e;
}




.board-detail {
  display: block;
  min-height: 1000px;
  margin-bottom: 0;
  width: 100%;
  background-color: #b43;
  color: ivory;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.board-detail > section {
  margin: 0 14px;
  padding: 20px 0;
  width: 250px;
  // text-shadow: 2px 2px 2px #6b271d;
}

.board-detail > h1 {
  padding: 12px;
}

.byline {
  font-family: 'Parisienne', cursive;
}

.fa {
  margin: 0 10px;
  height: 16px;
  width: 16px;
}

.board-detail .fa:hover {
  color:#4d2219;
  cursor: pointer;
}

.delete-board-button, .edit-board-button, .new-list-button {
  font-size: 14px;
  font-weight: normal;
  color:ivory;
  background: #a43;
  // box-shadow: 2px 2px 2px #6b271d;
  display: block;
  border-radius: 3px;
  height: 32px;
  width: auto;
  padding: 5px 20px;
  margin: 24px 12px;
}

.delete-board-button:hover, .edit-board-button:hover, .new-list-button:hover {
  box-shadow: 2px 2px 2px #6b271d;
  background: #943;
  text-shadow: 2px 2px 2px #4d2219;
}

.delete-board-button:active, .edit-board-button:active, .new-list-button:active {
  box-shadow: inset 2px 2px 2px #6b271d;
  background: #943;
}


.new-board-form {
  border-radius: 3px;
  float: left;
  display: block;
  width: 230px;
  padding: 10px;
  margin: 8px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold !important;
  position: relative;
  background: #acb0b6;
  // box-shadow: inset 2px 2px 2px #4d4d4d;
  color: oldlace;
  font-weight: normal;
  // text-shadow: 2px 2px 1px #1a1a1a;
  height: 180px;
 }

.new-board-form h2 {
	display: block;
	font-size: 18px;
	position: relative;
	margin: 8px;
}

.new-board-form input {
	margin: 12px 8px !important;
  padding: 5px;
	background: #FFFFBD;
  border-radius: 4px;
  // box-shadow: 2px 2px 2px #4d4d4d;
  width: 200px;
  font-weight: bold;
  color: #4d2219;
  // text-shadow: 2px 2px 1px #acb0b6;
}

.new-board-form input:focus {
  box-shadow: inset 2px 2px 2px #4d4d4d;
}

.new-board-form > button, .edit-board-form > button, .new-list-form > button, .new-note-form button, .note-index-item button {
  font-size: 14px !important;
  display: inline;
  float: left;
  // background: linear-gradient(#c85a48, #4d2219);
  background: linear-gradient(#fdfdfe, #333333);
  // box-shadow: 1px 1px 1px #1a1a1a;
	margin: 12px 8px 8px 8px !important;
  padding: 10px 20px;
}

.new-board-form > h2 > .fa:hover {
  color: #733326;
}

.new-board-form > button:active, .edit-board-form > button:active, .new-list-form > button:active, .new-note-form > button:active, .note-index-item button:active {
  background: linear-gradient(#743324, #26110c) !important;
  box-shadow: inset 1px 1px 1px black;
  text-shadow: 2px 2px 2px #1a1a1a;
}

.new-board-form > h2 > .fa {
  color: oldlace;
  // text-shadow: 2px 2px 1px #1a1a1a;
}
.new-board-form > button > .fa, .edit-board-form > button > .fa, .new-list-form > button > .fa {
  color: oldlace;
  // text-shadow: 2px 2px 2px #26110c;
  font-weight: bold;
  cursor: pointer;
}

.edit-board-form {
  display: inline-block;
  background: #994433;
  color: ivory;
  margin: 0 12px;
  width: 230px;
  padding: 10px;
  // box-shadow: inset 2px 2px 2px #5D231F;
  // text-shadow: 2px 2px 2px #5D231F;
  border-radius: 3px;
}

.edit-board-form h1, .edit-board-form h2 {
  margin: 8px;
  width: 200px;
}

.edit-board-form input {
  background: #BB4433;
  color: ivory;
  font-weight: bold;
  border: none;
  margin: 12px 8px !important;
  width: 180px;
  // box-shadow: 2px 2px 2px #5D231F;
  // text-shadow: 2px 2px 2px #5D231F;
  padding: 0 5px;
  overflow: scroll;
}

.edit-board-form input:focus, .edit-board-form > button:active {
  border: none;
  background: #BB4433;
  box-shadow: inset 2px 2px 2px #5D231F;
}

.edit-board-form input:hover {
  border: none;
}

.edit-board-form > button, .new-list-form > button, .new-note-form button, .note-index-item button {
  background: linear-gradient(#d06251, #431812) !important;
  padding: 5px 10px !important;
}
