// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-index {
  display: block;
  margin: 10px;
  background: transparent;
  width: 252px;
}

.list-index-item:hover .card-index-item, .list-index-item:hover .new-card-form {
  box-shadow: 2px 2px 2px #333333;
}

.card-index-item, .new-card-form, .edit-card-form, .title-field {
  display: block;
  min-height: 24px;
  width: 232px;
  padding: 5px;
  line-height: 20px;
  background: white;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  border-radius: 3px;
  margin: 6px 0;
  color: #4d4d4d;
}

.card-index-item, .new-card-form {
  box-shadow: 2px 2px 2px #acb0b6;
}

.edit-card-form {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none;
}

.edit-card-form > .title-field {
  box-shadow: none;
}
.edit-card-form > .title-field:hover {
  box-shadow: none;
}
.edit-card-form > .title-field:active {
  box-shadow: none;
}

.new-card-form {
  padding: 0;
  width: 243px;
}

.new-card-form > .title-field {
  padding-top: 4px !important;
}
.card-index-item > h1 {
  width: 150px !important;
  margin: 0;
  display: inline;
  border: none;
}

.title-field {
  margin: 0 !important;
  padding-left: 5px;
  padding-right: 0 !important;
  text-align: left !important;
  border: none;
  width: 150px;
  display: inline;
}

.card-index-item:hover {
  box-shadow: inset 2px 2px 2px #333333 !important;
  text-shadow: 2px 2px 2px #333333;
}

.new-card-form:hover > .fa, .edit-card-form:hover > .fa {
  background: transparent;
}

.new-card-form > .title-field:focus {
  box-shadow: inset 2px 2px 2px #333333;
}

.card-index-item .fa, .new-card-form .fa, .edit-card-form .fa {
  display: inline;
  text-align: center;
  color: #aaa;
  float: right;
  height: 20px;
  width: 22px;
  padding: 0 !important;
  line-height: 20px;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  box-shadow: none;
  margin: 0 2px 0 0;
  transition: font-size 1s ease;
  border: 1px solid transparent;
}

.new-card-form .fa, .edit-card-form .fa {
  float: right;
  margin: 6px 3px;
  background: transparent;
  width: 16px;
}

// .new-card-form .fa:first-of-type, .edit-card-form .fa:first-of-type {
//   margin-right: -5px;
// }

.card-index-item .fa:hover, .new-card-form .fa:hover, .edit-card-form .fa:hover {
  color: #994433 !important;
  box-shadow: none !important;
  text-shadow: 2px 2px 2px #767676 !important;
  font-size: 18px;
  background: transparent;
}

.new-card-form {
  margin-left: 10px;
}

.edit-card-form {
  padding-left: 0;
}
