.header {
  height: 30px;
  padding: 5px;
  background: #026AA7;
  color: #f3f3f3;
  font-size: 14px;
}

.header-red {
  background: #963c2b;
}

.header-nav {
  margin: auto;
  height: 30px;
  position: relative;
}

.header-nav li {
  display: block;
  background-color: #4d97c1;
  padding: 6px 8px 6px 12px;
  border-radius: 3px;
  float: left;
  margin: auto 8px auto 0;
  cursor: pointer;
}

.header-nav > li:first-child {
  padding-left: 28px;
}

.header-nav li:hover {
  background: lightblue;
}

.header-nav .search {
  padding: 0;
  margin: 0 auto;
  width: 180px;
  font-size: 13px;
  color: black;
  height: 29.5px;
  background-color: rgba(255,255,255,.3);
}

.header-nav .search input {
  border-radius: 3px;
	width: 142px;
  height: 29.5px;
	font-size: 13px;
	padding-right: 30px;
	padding-left: 8px;
	line-height: 19px;
	float: left;

}

.header-nav .search input:focus {
	background-color: white;
	width: 280px;
}

.header-nav .header-logo {
  position: absolute;
  background-color: transparent;
  color: white;
	font-family: cursive;
  left: 50%;
  transform: translateX(-50%);
	font-size: 24px;
  cursor: auto;
}

.header-nav .header-logo:hover {
  background: transparent;
}

.header-nav .session-buttons {
  float: right;
}

.header-nav > .session-buttons > li {
  float: left;
}

.user-name {

	display: block;
	font-weight: bold;
	margin-right: 8px;

	font-size: 14px;

	border-radius: 4px;
}

.surprise {
  color: #026AA7;
  display: block;
  height: 370px;
  width: 950px;
  position: relative;
  font-family: cursive;

  font-weight: bold;
  text-align: center;
  background: #e4f0f6;
}

.surprise .surprise-pic {
  background-image: asset-url("surprise.jpg");
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 20px 0;
  left: 50%;
  transform: translateX(-50%);
  border: 5px double rgb(0, 121, 191);
}

.surprise > h1 {
  font-size: 30px;
  color: #026AA7;
}

.surprise > h2 {
  display: block;
  font-size: 20px;
  color: #026AA7;
  position: absolute;
  top: 80%;
  left: 50%;
  line-height: 80px;
  transform: translateX(-50%);
}

.surprise > h3 {
  display: block;
  font-size: 14px;
  color: #026AA7;
  position: absolute;
  top: 90%;
  left: 50%;
  line-height: 80px;
  transform: translateX(-50%);
}
