.header {
  height: 30px;
  padding: 5px;
  background: #026AA7;
  color: #f3f3f3;
  font-size: 14px;
}

.header-red {
  background: #963c2b;
}

.header-nav {
  margin: auto;
  height: 30px;
  position: relative;
}

.header-nav li {
  display: block;
  background-color: #4d97c1;
  padding: 6px 8px 6px 12px;
  border-radius: 3px;
  float: left;
  margin: auto 8px auto 0;
  cursor: pointer;
}

.header-nav > li:first-child {
  padding-left: 28px;
}

.header-nav li:hover {
  background: #add8e6;
}

.header-nav .search {
  padding: 0;
  margin: 0 auto;
  width: 180px;
  font-size: 13px;
  color: #4d4d4d;
  height: 29.5px;
  background: white;
}

.header-nav .search div {
  position: relative;

}
.hidden {
  display: none;
}

.header-nav .search input {
  border-radius: 3px;
	width: 142px;
  height: 29.5px;
	font-size: 13px;
	padding-right: 30px;
	padding-left: 8px;
	line-height: 19px;
	float: left;

}

.header-nav .search input:focus {
	background: white;
	width: 280px;
}

.header-nav .search ul .placeholder {
  display: none;
}
.header-nav .search ul {
  z-index: 5;
  position: absolute;
  top: 30px;
  width: 180px;
  border-left: 5px dotted #026AA7;
  border-right: 5px dotted #026AA7;
  border-bottom: 5px dotted #026AA7;
}

.header-nav .search ul > li {
  display: block;
  width: 142px;
	font-size: 13px;
	padding-right: 30px;
	padding-left: 8px;
}

.header-nav .search ul > li:first-child {
  border-top: 5px dotted #026AA7;
}

.user-result {
  background: #E4F0F6 !important;
  color: #026AA7 !important;
}
.user-result:hover {
  background: #026AA7 !important;
  color: #E4F0F6 !important;
}

.board-result {
  background: #4d4d4d !important;
  color: #f3f3ce !important;
}

.board-result:hover {
  background: #F3F3CE !important;
  color: #4d4d4d !important;
}

// .header-nav .search li:hover {
//   background: #add8e6;
// }

.header-nav .header-logo {
  position: absolute;
  background-color: transparent;
  color: #f3f3f3;
	font-family: 'Parisienne', cursive;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
	font-size: 30px;
  cursor: auto;
}

.header-nav .header-logo .fa {

    padding: 5px;
    font-size: 14px;
    line-height: 5px;
}

.header-nav .header-logo:hover {
  background: transparent;
}

.header-nav .session-buttons {
  float: right;
}

.header-nav > .session-buttons > li {
  float: left;
}

.user-name {

	display: block;
	font-weight: bold;
	margin-right: 8px;
	font-size: 14px;
	border-radius: 4px;
}

.surprise {
  color: #026AA7;
  display: block;
  height: 370px;
  width: 950px;
  position: relative;
  font-family: 'Parisienne', cursive;
  margin: auto;
  font-weight: bold;
  text-align: center;
  background: #e4f0f6;
}

.surprise .surprise-pic {
  background-image: asset-url("surprise.jpg");
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 20px 0;
  left: 50%;
  transform: translateX(-50%);
  border: 5px double #0079bf;
}

.surprise > h1 {
  font-size: 30px;
  color: #026AA7;
}

.surprise > h2 {
  display: block;
  font-size: 20px;
  color: #026AA7;
  position: absolute;
  top: 80%;
  left: 50%;
  line-height: 80px;
  transform: translateX(-50%);
}

.surprise > h3 {
  display: block;
  font-size: 14px;
  color: #026AA7;
  position: absolute;
  top: 90%;
  left: 50%;
  line-height: 80px;
  transform: translateX(-50%);
}
