// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-index {
  display: block;
  max-width: 1600px;
  list-style: none;
  margin-left: 4px;
}

.list-index .list-index-item {
  float: left;
  background: #e2e4e6;
  display: block;
  width: 265px;
  padding: 5px;
  color: #666;
  border-radius: 3px;
  margin: 0 4px 8px 4px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
}

.list-index .list-index-item:hover {
  background: #666;
  color: black;
}

.list-index .list-index-item > h1 {
    padding: 8px 10px;
}

.list-index .list-index-item .list-detail {

}



.list-index .list-index-item .list-detail > button {
  float: left;
  background: #e2e4e6;
  box-shadow: none;
  display: block;
  width: 245px;
  padding: 8px 10px;
  color: #8c8c8c;
  border-radius: 3px;
  margin: 0 0 6px 0;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

.list-index .list-index-item .list-detail > button:hover {
  color: #666;
}

.list-detail {

}

.list-index .list-index-item .list-detail .li:hover {
  color: #666;
}

.new-list-button {
  float: left;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  color: #e2e4e6;
  background: #a43;
  display: block;
  border-radius: 3px;
  height: 32px;
  width: 190px;
  padding: 5px 20px;
  margin: 0 4px;
  cursor: pointer;
}

.new-list-button:hover {
  background: #943;
  box-shadow: none;
}

.new-list-form {
  display: block;
  border: 1px solid #8c8c8c;
  padding: 10px;
  border-radius: 3px;
  width: 280px;
  height: 227px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.new-list-form h1 {
	display: block;
	padding: 0 32px;
	box-sizing: border-box;
	color: #8c8c8c;
	font-size: 14px;
	position: relative;
	border-bottom: 1px solid #8c8c8c;
	text-align: center;
	margin: 0 10px;
}

.new-list-form h2 {
	display: block;
	color: #4d4d4d;
	font-size: 14px;
	position: relative;
	margin-bottom: 4px;
}

.new-list-form input {
  width: 266px;
  margin: 0;
  padding: 7px;
  background: #e2e4e6;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
}

.new-list-form input:hover {
  border: 1px solid #A4A8AA;
}

.new-list-form > button {
	display: block;
	color: white;
  font-size: 14px;
	text-align: center;
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 1px 0 #3f6f21;
	border-radius: 4px;
	font-weight: bold;
	padding: 7px 30px;
	width: 45px;
  height: 22px;
	margin: 8px 4px 0 0;
	cursor: pointer;
	position: absolute;
}

.list-index .list-index-item .list-detail .new-card-button {
  float: left;
  background: #e2e4e6;
  box-shadow: none;
  display: block;
  width: 245px;
  padding: 8px 10px;
  color: #8c8c8c;
  border-radius: 3px;
  margin: 0 0 6px 0;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}
.list-index .list-index-item .list-detail .edit-list-button {
  float: left;
  background: #e2e4e6;
  box-shadow: none;
  display: block;
  width: 245px;
  padding: 8px 10px;
  color: #8c8c8c;
  border-radius: 3px;
  margin: 0 0 6px 0;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}
.edit-list-form {
  display: block;
  border: 1px solid #8c8c8c;
  padding: 10px;
  border-radius: 3px;
  width: 280px;
  height: 227px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.edit-list-form h1 {
	display: block;
	padding: 0 32px;
	box-sizing: border-box;
	color: #8c8c8c;
	font-size: 14px;
	position: relative;
	border-bottom: 1px solid #8c8c8c;
	text-align: center;
	margin: 0 10px;
}

.edit-list-form h2 {
	display: block;
	color: #4d4d4d;
	font-size: 14px;
	position: relative;
	margin-bottom: 4px;
}

.edit-list-form input {
	width: 266px;
	margin: 0;
  padding: 7px;
	background: #e2e4e6;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
}

.edit-list-form input:hover {
border: 1px solid #A4A8AA;
}

.edit-list-form > button {
	display: block;
	color: white;
  font-size: 14px;
	text-align: center;
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 1px 0 #3f6f21;
	border-radius: 4px;
	font-weight: bold;
	padding: 7px 30px;
	width: 45px;
  height: 22px;
	margin: 8px 4px 0 0;
	cursor: pointer;
	position: absolute;
}
