// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-index {
  display: block;
  max-width: 1600px;
  list-style: none;
  margin-left: 4px;
}

.list-index .list-index-item {
  float: left;
  background: #e2e4e6;
  display: block;
  width: 265px;
  padding: 5px;
  color: #666;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #5F231F;
  margin: 0 4px 8px 4px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
}

.list-index .list-index-item:hover {
  box-shadow: inset 2px 2px 2px #4d4d4d;
  color: #4D2219;
}

.list-index .list-index-item:hover .list-detail > button {
  background: #a43;
  box-shadow: 2px 2px 2px #333;
  color: white;
}
.list-index-item:hover .new-card-button {
  background: #a43;
  box-shadow: 2px 2px 2px #333;
  color: white;
}

.list-index .list-index-item > h1 {
    padding: 8px 10px;
}

.list-index .list-index-item:hover > h1 {
  text-shadow: 2px 2px 2px #4d4d4d;
}

.list-index .list-index-item .list-detail > button, .new-card-button {
  float: left;
  background: transparent;
  box-shadow: none;
  display: block;
  width: 245px;
  padding: 8px 10px;
  color: #8c8c8c;
  border-radius: 3px;
  margin: 0 0 6px 0;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

.list-index .list-index-item .list-detail > button:hover {
  color: white;
  background: #994433;
  text-shadow: 2px 2px 2px #4D2219;
  box-shadow: 2px 2px 2px #333;
}

.new-card-button:hover {
  color: white;
  background: #994433;
  text-shadow: 2px 2px 2px #4D2219 !important;
  box-shadow: 2px 2px 2px #333;
}

.list-index .list-index-item .list-detail > button:active {
  color: white;
  box-shadow: inset 2px 2px 2px #4d2219;
  background: #943;
}

.new-card-button:active {
  color: white;
  box-shadow: inset 2px 2px 2px #4d2219 !important;
  background: #943;
}



.new-list-button {
  float: left;
  font-size: 14px;
  font-weight: normal;
  color: ivory;
  background: #a43;
  display: block;
  border-radius: 3px;
  height: 32px;
  width: 190px;
  padding: 5px 20px;
  margin: 0 4px;
  cursor: pointer;
}

.new-list-button .fa {
  float: right;
}
.new-list-form, .edit-list-form {
  display: inline-block;
  background: #994433;
  color: ivory;
  margin: 0 4px;
  width: 190px;
  padding: 5px 20px;
  box-shadow: 2px 2px 2px #5D231F;
  text-shadow: 2px 2px 2px #5D231F;
  border-radius: 4px;
}

.new-list-form > h2, .edit-list-form > h1 {
  margin-top: 8px;
  width: 200px;
}

.new-list-form input, .edit-list-form input {
  background: #BB4433;
  color: ivory;
  font-weight: bold;
  border: none;
  margin: 12px 0 !important;
  width: 180px;
  box-shadow: 2px 2px 2px #5D231F;
  text-shadow: 2px 2px 2px #5D231F;
  padding: 0 5px;
  overflow: scroll;
}

.edit-list-form h1 {
  width: 234px;
}

.new-list-form input:focus, .new-list-form > button:active, .edit-list-form > button:active {
  border: none;
  background: #BB4433;
  box-shadow: inset 2px 2px 2px #5D231F;
}

.new-list-form input:hover, .edit-list-form input:hover {
  border: none;
}

.new-list-form > button, .edit-list-form > button {
	background: transparent;
  height: 28px;
  width: 30px;
  padding: 2px;
  text-align: center;
  margin: 12px -9px;
  box-shadow: none;
  text-shadow: 2px 2px 2px #5D231F;
}

.new-list-form button:hover, .edit-list-form button:hover {
  text-shadow: 2px 2px 2px #5D231F;
}

.new-list-form button:active, .edit-list-form button:active {
  background: #BB4433;
  box-shadow: inset 2px 2px 2px #5D231F;
}

.note-index-item button:hover .fa {
  color: #5D231F;
}


.new-card-button, .edit-list-button, .delete-list-button {
  float: left;
  background: #e2e4e6;
  box-shadow: none;
  display: block;
  width: 245px;
  padding: 8px 10px;
  color: #8c8c8c;
  border-radius: 3px;
  margin: 0 0 6px 0;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

.edit-list-form {
  margin-bottom: 4px;
  width: 220px;
  background: #acb0b6;
  box-shadow: inset 2px 2px 2px #4d4d4d;
  color: #fdfdfe;
  text-shadow: 2px 2px 2px #4d4d4d;
}

.edit-list-form h1 {
  font-size: 18px;
  margin: 8px 0;
}
.edit-list-form input {
  background: #e2e4e6;
  box-shadow: 2px 2px 2px #767c86;
  color: #943;
  text-shadow: 2px 2px 2px #8c8c8c;
  width: 215px;
  font-size: 16px;
  font-weight: bold;
}

.edit-list-form input:focus {
  background: #e2e4e6;
  box-shadow: inset 2px 2px 2px #4d4d4d;
}
.edit-list-form button {
  color: #fdfdfe;
  text-shadow: 2px 2px 2px #4d4d4d;
}

.edit-list-form button:hover {
  background: transparent;
  box-shadow: none !important;
}

.new-card-button:hover, .list-detail button:hover {
  color: #1a1a1a;
  text-shadow: 2px 2px 2px #acb0b6;
  box-shadow: 2px 2px 2px #333;
}

.new-card-button:active, .edit-list-button:active, .delete-list-button:active {
  box-shadow: inset 2px 2px 2px #91969e;
}
