// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-index {
  display: block;
  max-width: 1600px;
  list-style: none;
  margin-left: 4px;
}

.list-index .list-index-item {
  float: left;
  background-color: #e2e4e6;
  display: block;
  height: 64px;
  width: 190px;
  padding: 5px;
  color: #666;
  border-radius: 3px;
  margin: 0 4px;
  font-size: 15px;
  font-weight: bold;
}

.list-index .list-index-item:hover {
  background: #666;
  color: black;
}

.list-index .new-list-button {
  float: left;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  color: #e2e4e6;
  background: #a43;
  display: block;
  border-radius: 3px;
  height: 32px;
  width: 190px;
  padding: 5px 20px;
  margin: 0 4px;
}

.list-index .new-list-button:hover {
  background: #943;
}
