// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note-index-item {
  display: block;
  min-height: 24px;
  width: 232px;
  padding: 5px;
  line-height: 20px;
  background: #994433;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  margin: 6px 0;
  color: white;
}

.note-index-item section {
  background: #BB4433;
  width: 180px;
  padding: 15px;
  margin: 10px;
  border-radius: 3px;
}

.note-index-item h2 {
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.note-index-item button {
  background: #BB4433;
  height: 40px;
  width: 40px;
  padding: 0;
  text-align: center;
}

.note-index-item button:hover {
  background: #994433;
  box-shadow: none;
}

.note-index-item button:hover .fa {
  color: #5D231F;
}

.new-note-form {
  border: 1px solid black;
  border-radius: 3px;

  background: #994433;

  float: left;

  display: block;
  width: 265px;
  padding: 5px;
  // color: #666;
  // border-radius: 3px;
  margin: 0 4px 8px 4px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
}

.new-note-form h1 {
  font-size: 14px;
  margin: 0 0 0 12px;
}

.content-field {
  background: #BB4433;
  border-radius: 3px;
  height: 60px;
  overflow-y: scroll;
  padding: 0 !important;
  margin: 12px 0 0 12px;
}
