// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note-index {
  width: 1000px !important;
}

.note-index > h1 {
  margin-left: 0;
  width: 242px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #5D231F;
}

.note-index > h1:hover {
  color: #5D231F;
}

.note-index > h1:hover .fa {
  color: #5D231F;
}


.note-index-item {
  box-shadow: inset 2px 2px 2px #5D231F;
  display: block;
  min-height: 24px;
  width: 232px;
  padding: 5px;
  line-height: 20px;
  background: #a43;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  margin: 6px 16px 6px 0;
  color: white;
  float: left;
}

.note-index-item section {
  background: #BB4433;
  width: 180px;
  padding: 15px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #5D231F;
}

.note-index-item h1 {
  margin-bottom: 10px;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 20px !important;
  letter-spacing: 2px;
}

.note-index-item h2 {
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.noter-name {
  font-family: 'Parisienne', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.noter-name:hover {
  cursor: pointer;
  color: #5D231F;
}

.note-index-item button {
  background: #BB4433;
  height: 40px;
  width: 40px;
  padding: 0;
  text-align: center;
  box-shadow: 2px 2px 2px #5D231F;
  margin: 12px;
}

.note-index-item button:hover {
  // background: #BB4433;
  // box-shadow: 2px 2px 2px #5D231F;
  text-shadow: 2px 2px 2px #5D231F;
}

.note-index-item button:active {
  background: #BB4433;
  box-shadow: inset 2px 2px 2px #5D231F;
}

.note-index-item button:hover .fa {
  color: #5D231F;
}

.new-note-form {
  border-radius: 3px;
  background: #a43;
  float: left;
  display: block;
  width: 265px;
  padding: 10px 5px;
  margin: 12px 4px 8px 12px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
  box-shadow: 2px 2px 2px #5D231F;
}

.new-note-form:active {
  box-shadow: inset 2px 2px 2px #5D231F;
  text-shadow: inset 2px 2px 2px #5D231F;
}

.new-note-form h1 {
  cursor: pointer;
  font-size: 14px;
  margin: 0 0 0 12px;
  text-shadow: 2px 2px 2px #5D231F;
}

.new-note-form h1 .fa {
  float: right;
}

.new-note-form h1:hover {
  color: #4D2219;
}
.new-note-form h1:hover .fa {
  color: #4D2219;
}

.content-field {
  background: #BB4433;
  border-radius: 3px;
  height: 60px;
  width: 242px;
  font-size: 14px;
  overflow-y: scroll;
  padding: 0 0 0 5px !important;
  margin: 12px 0 0 12px;
  line-height: 19px;
}

.content-field:focus {
  box-shadow: inset 2px 2px 2px #5D231F;
}
.new-note-form button {
  background: #BB4433;
}

.new-note-form button:hover {
  background: #BB4433;
  box-shadow: 2px 2px 2px #5D231F;
}

.new-note-form button:active {
  box-shadow: inset 2px 2px 2px #5D231F;
}
