<!DOCTYPE html>
<html>
<head>
  <title>CatTrello</title>
  <link rel="shortcut icon" href="http://2.bp.blogspot.com/-QKcTq0ucQss/T81idtkmNfI/AAAAAAAABPc/oh6FS5MYtKM/s1600/paw_print_cat_claws.png" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/horta" type="text/css"/> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel "script" href="/alertify.min.js">
  <link rel "stylesheet" href="/alertify.css" />
  <link rel "stylesheet" href="/alertify.default.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>
